{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="center-container">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-img-top-container-main">
                    <img src="{% static 'images/thePhysiciansCommittee1.PNG' %}" class="card-img-top" alt="Menu Item Image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text">“Everyone knows good nutrition supports your overall health, but few realize that certain foods—power foods—can protect your brain and optimize its function, and even dramatically reduce your risk of Alzheimer’s disease. ”
                    </p>
                    <p>Neal Barnard, MD, FACC, President, Physicians Committee</p>                    
                </div>          
            </div>
            <div class="col-lg-4">
                <div class="card-img-top-container-main">
                    <img src="{% static 'images/gardenView.jpg' %}" class="card-img-top" alt="Menu Item Image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Opening Hours</h5>
                    <ul class="list-unstyled list-hours mb-5 mx-auto">
                        <li class="d-flex justify-content-between">
                            <span>Sunday</span>                            
                            <span class="ms-auto open">10:00 AM to 11:00 PM</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Monday</span>                            
                            <span class="ms-auto closed">Closed</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Tuesday</span>                            
                            <span class="ms-auto open">10:00 AM to 11:00 PM</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Wednesday</span>                            
                            <span class="ms-auto open">10:00 AM to 11:00 PM</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Thursday</span>                            
                            <span class="ms-auto open">10:00 AM to 11:00 PM</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Friday</span>                            
                            <span class="ms-auto open">10:00 AM to 11:00 PM</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Saturday</span>                            
                            <span class="ms-auto open">10:00 AM to 11:00 PM</span>
                        </li>
                    </ul>                                          
                </div>                 
                
                     
            </div>
            <div class="col-lg-4">
                <div class="card-img-top-container-main">
                    <img src="{% static 'images/sattvicVegan3.jpg' %}" class="card-img-top" alt="Menu Item Image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Address</h5>
                    <p>Good Luck Street 123, 01109 Good Luck City, Germany </p>
                    <h5 class="card-text">Contact</h5>
                    <p>+49 1234567 </p>                         
                </div>         
            </div>
        </div>
    </div>
</div>



{% endblock content%}
