{% extends "base.html" %}
{% load static %}



{% block page_header %}
    {% comment %} <div class="container-fluid index-text-header">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>    {% endcomment %}

{% endblock %}

{% block content %}
    <div class="stacked">
        
        <div id="gallery1" class="gallery gallery1 gallery-container text-center d-flex flex-column align-items-center justify-content-center ">
            <a href="" class='gallery-content title-link btn-block  display-4'>
                <div class="gallery-content">
                    <p class="gallery-text">Check out our colorful Dumpling serving schedule!</p>
                </div>
            </a>            
        </div>
        
        <div id="gallery2" class="gallery gallery2">
            <a href="" class='title-link'>Book a Table</a>
        </div>
        
        <div class="gallery3">Gallery3</div>

        <div class="about">
            <a href="" class='title-link btn-block'>About Us</a>
            <a href="" class='item-link btn-block'>Location & Map</a>
            <a href="" class='item-link btn-block'>Cuisine Type</a>
            <a href="" class='item-link btn-block'>Contact & Media</a>  
                                                                     
        </div>
        <div class="menu">
            <a href="" class='title-link btn-block  display-4'>Menu & Price</a>
            <a href="" class='item-link'>Lunch</a>            
            <a href="" class='item-link'>Dinner</a>
            
        </div>
        <div class="booking">
            <a href="" class='title-link'>See Available</a>
            <p>Only 1 Window Tables for 2 People with Garden View Left</p>
            <a href="" class='item-link'>Book a Table</a>
            
        </div>
        <div class="login">login

        </div>
        <div class="event">event

        </div>
        <div class="blog">blog

        </div>
        <div class="benefit">benefit
            
        </div>
    </div>
{% endblock %}

