{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="stacked content">
        
        <div id="gallery1" class="gallery-container gallery1">
            <a href="{% url 'dumplings' %}" id="gallery1-text" class='gallery-content btn-block  '>
                <div class="gallery-content gallery-text d-flex align-items-center justify-content-center">
                    
                    <h2 class="gallery-text responsive-title">
                        Check out our<br>
                        colorful Dumpling<br>
                        Ingredients!
                    </h2>
                    
                </div>
            </a>            
        </div>
        
        <div id="gallery2" class="gallery-container gallery2">
            <a href="{% url 'check_available' %}"  id="gallery2-text" class='gallery-content btn-block  display-5'>
                <div class="gallery-content gallery-text">
                    <h2 class="gallery-text responsive-title">Book A Table</h2>
                </div>
            </a>
        </div>
        
        <div id="gallery3" class="gallery-container gallery3">
            <a href="{% url 'setMenu' %}" id="gallery3-text" class='gallery-content btn-block  display-5'>
                <div class="gallery-content gallery-text d-flex align-items-center justify-content-center">

                    <h2 class="gallery-text responsive-title">
                        Check out our<br>
                        Full Color<br>
                        Set Memu!
                    </h2>
                    
                </div>
            </a>            
        </div>

        <div class="about grid-content">
            <a href="{% url 'aboutUs' %}" class='title-link'>
                <h5 class="responsive-subtitle">
                    <span>About Us</span><br>
                    <span>Open Hours</span><br>
                    <span>Location</span><br>                    
                    <span>Contact</span>
                </h5>                
            </a>                                                                                
        </div>

        <div class="about-sm grid-content">
            <a href="{% url 'aboutUs' %}" class='title-link'>
                <h5 class="responsive-subtitle">
                    <span>About Us</span>
                    <span>Open Hours</span><br>
                    <span>Location</span>                    
                    <span>Contact</span>
                </h5>                
            </a>                                                                                
        </div>

        <div class="menu grid-content">
            <a href="{% url 'menu' %}" class='title-link btn-block'>
                <h2 class="responsive-title">Menu & Price</h2>
                </a>                       
        </div>
        
        <div class="benefit grid-content">
            <a class='title-link responsive-title' href="https://www.pcrm.org/health-topics" >Great Benefit</a>            
            <a class='content-link' href="https://www.pcrm.org/health-topics" >                    
                <p>The Physicians Committee promotes plant-based diets for good health and disease prevention. Learn about how nutrition affects disease risk.</p>                
            </a>
            <a class='content-link' href="https://www.theyoganomads.com/sattvic-diet/" >                    
                <p>Bring Out The Best Of Physical, Mental, Emotional, And Spiritual Health!</p>                
            </a>
            <a class='content-link' href="https://www.thinkrightme.com/what-is-sattvic-food-and-the-science-behind-it/" >                    
                <p>What Is The Science Behind The Sattvic Diet?</p>                
            </a>
            <a class='content-link' href="https://www.vantagefit.io/blog/sattvic-diet/" >                    
                <p>The Perfect Way To Boost Well-Being And Productivity!</p>                
            </a>
        </div>

        <div class="blog grid-content">
            <a class='title-link responsive-title' href="{% url 'PostList' %}" >All Blogs</a>            
            <a class='content-link' href="{% url 'post_detail' slug='reducing-cancer-risk-with-a-plant-based-diet' %}" >                    
                <h5 class="responsive-subtitle">Reducing Cancer Risk With a Plant-Based Diet</h5>
                <p>The more naturally colorful your diet is, the more likely it is to have an abundance of cancer-fighting compounds. The pigments that give fruits and vegetables their bright colors—like beta-carotene in sweet potatoes or lycopene in tomatoes—help you fight cancer.</p>
            </a>                                                    
        </div>

        
    </div>
{% endblock %}

