{% extends 'base.html' %}

{% load static %}

{% block content %}


<div id="user-auth-section">
  {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
  {% else %}
      <p>Not logged in. <a href="{% url 'login' %}">Login</a> or continue as guest.</p>
  {% endif %}
</div>

<div id="initial-form-section">
  <form method="get" action="{% url 'show_available' %}">
    {% comment %} {{ form|crispy }}   {% endcomment %}
    {% csrf_token %}
            
      <label for="from-datepicker">Please choose a date:</label>
      <input type="text" id="from-datepicker" name="date"/>
        
      <label for="{{ form.time.id_for_label }}">Please choose a time:</label>
      {{ form.time }}
        
      <button type="submit">Check Availability</button>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
      <script> 
        $(document).ready(function() {     
          $("#from-datepicker").datepicker({          
            format: 'yyyy-mm-dd'
          });      
        });  
      </script>
  </form>
</div>



{% endblock %}