{% extends 'base.html' %}

{% block content %}

<div id="initial-form-section">
  <form method="get" action="{% url 'show_available' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="text" id="from-datepicker" name="date"/>
      <button type="submit">Check Availability</button>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
      <script> 
        $(document).ready(function() {     
          $("#from-datepicker").datepicker({          
            format: 'yyyy-mm-dd'
          });      
        });  
      </script>
  </form>
</div>



{% endblock %}