{% extends "base.html" %}

{% block content %}

    <h2>Your Booking Information</h2>
    
    {% comment %} <p>Name: {{ booking.name }}</p>
    <p>Email: {{ booking.email }}</p>
    <p>Phone: {{ booking.phone }}</p> {% endcomment %}

    <p>Name: {{ name }}</p>
    <p>Email: {{ email }}</p>
    <p>Phone: {{ phone }}</p>
    <p>Date: {{ booking_date }}</p>
    <p>Time: {{ booking_time }}</p>
    <p>Table: {{ table }}</p>    

    {% comment %} <a href="{% url 'generate_pdf' booking.id %}" class="btn btn-primary">Download PDF</a> {% endcomment %}
        
{% endblock %}