{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container form-section">

    <h2>Your Booking Information</h2>    
    
    <p>Id: {{ booking.id }}</p>
    <p>Name: {{ booking.name }}</p>
    <p>Email: {{ booking.email }}</p>
    <p>Phone: {{ booking.phone }}</p>
    <p>Date: {{ booking.date }}</p>
    <p>Time: {{ booking.time }}</p>
    <p>Table: {{ booking.table }}</p>    

    {% comment %} <a href="{% url 'generate_pdf' booking.id %}" class="btn btn-primary">Download PDF</a> {% endcomment %}
        

</div>

    
{% endblock %}




