{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container form-section">

    <h2 class="">
        Are you sure you want to delete this booking?
    </h2>
    <p><a href="{% url 'view_booking' %}">No, back to my booking</a></p>
   
    <form method="POST" action="" name="form">

        {{form|crispy}}
        {% csrf_token %}

        <button class="btn btn-primary">Delete Booking</button></a>
        
    </form>
   
</div>


{% endblock content %}