{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container form-section">

    <h2>Edit your booking</h2>
    
    <p><a href="{% url 'view_booking' %}">Changed my mind, back to my booking</a></p>
        
    <form method="POST" action="" name="form"> 
        
        {{form|crispy}}
        {% csrf_token %}

        <button class="btn btn-primary" type="submit">Submit edited booking</button>
       
    </form>

</div>


{% endblock content %}