html {

}

body {
  
  font-family: 'Lato';

}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}


 
/* page header */


.text-darkgreen {
  color: rgb(1, 83, 96);
}

.icon-text {
  color: rgb(1, 83, 96);
}

.icon-text:hover {
  color: rgb(173, 0, 138);
}

.base-nav-header {
  width: 100%; /* Set the width of the container */
  padding-top: 10px;
  background-image: url('/static/images/pageHeaderRainbow.jpg'); /* Path to your image */
  background-size: cover; /* Scale the image to cover the entire container */
  background-position: center; /* Center the image within the container */
}
  
.title-link {
  display: block;
  /* Add some styling to make them look like buttons */
  color: rgb(1, 83, 96);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  
  margin-bottom: 5px; /* Optional: Add some spacing between buttons */
}

.title-link:hover {
  color: rgb(142, 110, 28);
  text-decoration: none;
}


.item-link {
  margin: 50px;
  color: rgb(1, 83, 96);
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.item-link

   */
  /* Optional: Hover effect to highlight the buttons on mouseover */
  .titel-button:hover {
    background-color: #ddd;
  }



/* gird cell background image */

#gallery1 {
  width: 100%;
  height: 100%;
  /* background-image: url('/static/images/colorfulDumplings.jpg'); */
  background-size: cover; 
  background-position: center; 
}





.stacked {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
    grid-template-areas:
      "pic1 pic1 pic2 pic2 pic3 pic3"
      "pic1 pic1 pic2 pic2 pic3 pic3"
      "about menu menu booking booking login"
      "about blog event event event login"
      "about blog benefit benefit benefit benefit";
    margin: 2em;    
  }


.gallery1 {
  grid-area: pic1;
  /* background-color: rgb(242, 234, 205); */
}
.gallery2 {
  grid-area: pic2;
  background-color: rgb(243, 199, 182);
}
.gallery3 {
  grid-area: pic3;
  background-color: rgb(242, 234, 205);
}
.about {
    grid-area: about;
    background-color: rgb(247, 217, 186) ;
  }
.menu {
    grid-area: menu;
    background-color:rgb(248, 194, 194) ;
  }
.booking {
    grid-area: booking;
    background-color:rgb(198, 245, 198) ;
  }
.login {
    grid-area: login;
    background-color: rgb(244, 205, 244);
  }
.event {
    grid-area: event;
    background-color:rgb(244, 244, 206) ;
  }
.blog {
    grid-area: blog;
    background-color:rgb(193, 227, 248) ;
  }
.benefit {
    grid-area: benefit;
    background-color:rgb(234, 230, 250) ;
  }
  

  
@media only screen and (max-width: 900px)   {
  .wrapper {  
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "pic1 pic2 pic2 pic3"
    "pic1 pic2 pic2 pic3"
    "about menu menu login"
    "about booking booking booking"
    "event event blog blog"
    "event event benefit benefit";
  }
  }


@media only screen and (max-width: 700px)  {
  .gallery1 {
    display: none;
  }
  .wrapper {  
    grid-template-columns: repeat(4, 1fr);    
    grid-template-areas:
    "pic2 pic2 pic3 pic3"
    "pic2 pic2 pic3 pic3"
    "login menu menu menu"    
    "about booking booking booking"
    "about event event event"
    "blog blog benefit benefit";
    padding-left: 0;
    padding-right: 0;
    gap: 5px;
    margin: 5px;
  }
  }