{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="center-container">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-4  custom-gap">
                <div class="card-img-top-container-main">
                    <img src="{% static 'images/colorfulDumplings9.jpg' %}" class="card-img-top" alt="Menu Item Image">
                </div>
                <div class="card-body">
                    <a href="{% url 'dumplings' %}" class="title-link">
                        <h5 class="card-title">Rainbow Dumplings</h5>
                        <h5 class="card-text">Check Out Menu and Price</h5>
                    </a>                              
                </div>          
            </div>
            <div class="col-lg-6 col-md-4 custom-gap">
                <div class="card-img-top-container-main">
                    <img src="{% static 'images/sattvicVegan5.jpg' %}" class="card-img-top" alt="Menu Item Image">
                </div>
                <div class="card-body">
                    <a href="{% url 'setMenu' %}"  class="title-link">
                        <h5 class="card-title">Set Menus</h5>
                        <h5 class="card-text">Check Out Menu and Price</h5>
                    </a>                              
                </div>          
            </div>
        </div>
    </div>
</div>


{% endblock %}