{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card-img-top-container">
                <img src="{% static 'images/sattvicSetMenu6.jpg' %}" class="card-img-top" alt="Menu Item Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">Set Menu - small - for One Person</h5>
                
                <p class="card-text">Basic Ingredients: Vegetables Of 7 Different Color: White Mushroom, Black Wild Mushroom, Red Pepper, Carrots, Sweet Corn, Spinach, Purple Cabbage.</p>
                <p class="font-weight-bold">$10 per Set</p> 
            </div>          
        </div>
        <div class="col-md-4">
            <div class="card-img-top-container">
                <img src="{% static 'images/sattvicSetMenu8.jpg' %}" class="card-img-top" alt="Menu Item Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">Set Menu - small - for One Person</h5>
                
                <p class="card-text">Basic Description: Vegetables Of 7 Different Color: White Mushroom, Black Wild Mushroom, Red Pepper, Carrots, Sweet Corn, Spinach, Purple Cabbage.</p>
                <p class="font-weight-bold">$10 per Set</p> 
            </div>            
        </div>
        <div class="col-md-4">
            <div class="card-img-top-container">
                <img src="{% static 'images/sattvicVegan3.jpg' %}" class="card-img-top" alt="Menu Item Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">Set Menu -medium- for Two Person</h5>
                
                <p class="card-text">Basic Ingredients: Vegetables Of 7 Different Color: White Mushroom, Black Wild Mushroom, Red Pepper, Carrots, Sweet Corn, Spinach, Purple Cabbage.</p>
                <p class="font-weight-bold">$20 per Set</p> 
            </div>            
        </div>
        <div class="col-md-4">
            <div class="card-img-top-container">
                <img src="{% static 'images/sattvicVegan4.jpeg' %}" class="card-img-top" alt="Menu Item Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">Set Menu - large - for Four Person</h5>
                
                <p class="card-text">Basic Description: Vegetables Of 7 Different Color: White Mushroom, Black Wild Mushroom, Red Pepper, Carrots, Sweet Corn, Spinach, Purple Cabbage.</p>
                <p class="font-weight-bold">$35 per Set</p> 
            </div>            
        </div>
        <div class="col-md-4">
            <div class="card-img-top-container">
                <img src="{% static 'images/sattvicVegan5.jpg' %}" class="card-img-top" alt="Menu Item Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">Set Menu - large - for Four Person</h5>
                
                <p class="card-text">Basic Description: Vegetables Of 7 Different Color: White Mushroom, Black Wild Mushroom, Red Pepper, Carrots, Sweet Corn, Spinach, Purple Cabbage.</p>
                <p class="font-weight-bold">$35 per Set</p> 
            </div>             
        </div>
        <div class="col-md-4">
            <div class="card-img-top-container">
                <img src="{% static 'images/sattvicVegan6.jpeg' %}" class="card-img-top" alt="Menu Item Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">Set Menu - large - for Four Person</h5>
                
                <p class="card-text">Basic Description: Vegetables Of 7 Different Color: White Mushroom, Black Wild Mushroom, Red Pepper, Carrots, Sweet Corn, Spinach, Purple Cabbage.</p>
                <p class="font-weight-bold">$35 per Set</p> 
            </div>              
        </div>
        <div class="col-md-4">
            <div class="card-img-top-container">
                <img src="{% static 'images/sattvicVegan7.jpeg' %}" class="card-img-top" alt="Menu Item Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">Set Menu - large - for Four Person</h5>
                
                <p class="card-text">Basic Description: Vegetables Of 7 Different Color: White Mushroom, Black Wild Mushroom, Red Pepper, Carrots, Sweet Corn, Spinach, Purple Cabbage.</p>
                <p class="font-weight-bold">$35 per Set</p> 
            </div>            
        </div>
        <div class="col-md-4">
            <div class="card-img-top-container">
                <img src="{% static 'images/sattvicVegan8.jpg' %}" class="card-img-top" alt="Menu Item Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">Set Menu - large - for Four Person</h5>
                
                <p class="card-text">Basic Description: Vegetables Of 7 Different Color: White Mushroom, Black Wild Mushroom, Red Pepper, Carrots, Sweet Corn, Spinach, Purple Cabbage.</p>
                <p class="font-weight-bold">$35 per Set</p> 
            </div>            
        </div>
        <div class="col-md-4">
            <div class="card-img-top-container">
                <img src="{% static 'images/sattvicVegan9.jpeg' %}" class="card-img-top" alt="Menu Item Image">
            </div>
            <div class="card-body">
                <h5 class="card-title">Set Menu - large - for Four Person</h5>
                
                <p class="card-text">Basic Description: Vegetables Of 7 Different Color: White Mushroom, Black Wild Mushroom, Red Pepper, Carrots, Sweet Corn, Spinach, Purple Cabbage.</p>
                <p class="font-weight-bold">$35 per Set</p> 
            </div>            
        </div>
        
    </div>
</div>



{% endblock %}