{% load crispy_forms_tags %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}        
        
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">        
        <link rel="stylesheet" href="{% static 'css/card.css' %}">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block corejs %}
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script> 

        <script src="https://kit.fontawesome.com/34d7a126b9.js" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
        <script src="{% static 'js/autoPicsChanging.js' %}"></script>        
    {% endblock %}

    <title>Sattvic Halal & Vegan{% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    
    <header class="container-fluid base-nav-header">

        <div class="row">
            <div class="col text-darkgreen text-center">
                <h1 class="responsive-title">Sattvic, Halal & Vegen</h1>
                <h1 class="responsive-title">Full Color Diet = Full Happy Life</h1>
            </div>
        </div>
        
        <div class="row">
            
            <div class="col-3 my-auto text-center">          
                <a href="{% url 'home' %}" class="link-text d-inline">
                    <div class="text-center">
                        <div><i class="fa-solid fa-house fa-lg"></i></div>
                        <p class="my-0 d-none d-sm-inline">Home</p>
                    </div>              
                </a>            
            </div>                
                            
            <div class="col-6 col-md-3 my-auto text-center">          
                <a href="{% url 'check_available' %}" class="link-text">
                    <div class="text-center">
                        <div><i class="fa-solid fa-champagne-glasses fa-lg"></i></div>
                        <p class="my-0">
                            Book a Table
                        </p>
                    </div>
                </a>          
            </div>

            <div class="col-3 my-auto text-center">          
                <ul class="list-unstyled text-center my-0">
                    <li class="dropdown">
                        <a class="link-text" href="#" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                {% if user.is_authenticated %}
                                    <p class="my-0 d-none d-sm-inline">Hello, {{ user.username }}</p>
                                {% else %}
                                    <p class="my-0 d-none d-sm-inline">My Account</p>
                                {% endif %}

                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'view_booking' %}" class="dropdown-item">Booking Management</a>
                                {% endif %}                                
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>                    
                </ul>          
            </div>
            
            <div class="col-12 col-md-3 my-auto text-center">
                <h6 classe="text-darkgreen" id="dateDisplay"></h6>
            </div>  
            
        </div>
    </header>
    
    {% block page_header %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block content %}    
    
    {% endblock %}

    <footer class="sticky-footer">
        <div class="container footer-container">
            <a href="#" target="_blank" title="Facebook">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" target="_blank" title="Twitter">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="#" target="_blank" title="Instagram">
                <i class="fab fa-instagram-square"></i>
            </a>            
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

    <script>
        // Get the current date
        var currentDate = new Date();
    
        // Format the date as you want (e.g., "Month Day, Year")
        var options = { year: 'numeric', month: 'long', day: 'numeric' };
        var formattedDate = currentDate.toLocaleDateString('en-US', options);
    
        // Display the date on the webpage
        var dateDisplay = document.getElementById("dateDisplay");
        dateDisplay.textContent = "Today: " + formattedDate;
    </script>
    
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>

  </body>
</html>